.barre {
    background-color: #3c1e1e;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 15px;
    margin-right: 10px;
}

.texte-haut-droite {
    margin-left: auto;
}

body{
    background-color: #434a50;
}
