.barre {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boutton 
  {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
.barre:hover .boutton {
    background-color: #00ff00;
  }

.texte-haut-droite {
    margin-left: auto;
}


